.dt-download, .dt-download:hover{
    color: white;
    text-decoration: none;
}

.data-table-form {
    max-width: 1000px;
    width: 90%;
    margin-bottom: 40px;
}

.data-table-form > h4 {
    text-align: center;
}

.data-table-form > h5 {
    margin: 30px 0 0 0;
}

.data-table-form > label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

.data-table-form > input, select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.annual_data_table_summary, .dt__panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 2px darkslategray;
    border-radius: 10%;
    margin: 50px 0 50px 0;
    overflow: hidden;
}
.annual_data_table_summary p, .dt__panel p {
    font-weight: bold;
    background-color: lightgray;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.annual_data_table_summary .bouttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}
.annual_data_table_summary button {
    margin: 5px;
    padding: 10px;
    background-color: darkslategray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.annual_data_table_summary button:hover {
    background-color: #192b2b;
}

.annual_data_table_summary .dt__green{
    background-color: #4CAF50;
}

.annual_data_table_summary .dt__green:hover {
    background-color: #3e8e41;
}

#progress-container {
    width: 80%;
    height: 20px;
    border: 1px solid #192b2b;
    margin: 20px 0 0 0;
    overflow: hidden;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #4CAF50;
}

#pourcent{
    background-color: white;
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: bolder;
}

.nb__buttons{
    display: none;
}

.col-div-4-1{
    width: 100%;
    margin: 20px;
    display: flex;
}
.head-1{
    font-size: 18px;
    margin: 10px 0;
    color: #6c7293;
}

.box-1{
    width: 88%;
    height: 282px;
    background-color:#e3e3e3;
    margin-left: 10px;
    padding:10px;
    box-shadow: 2px 5px 10px #ddd;
}

.content-box-1{
    padding: 0 10px;
    margin: 20px 0 20px 0;
}

.circle-wrap, .circle-wrap2, .circle-wrap3 {
    width: 150px;
    margin: 20px auto 0 auto;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
}

.circle-wrap, .circle-wrap2, .circle-wrap3 {
    margin: 20px auto 20px auto;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill,
.circle-wrap2 .circle .mask,
.circle-wrap2 .circle .fill,
.circle-wrap3 .circle .mask,
.circle-wrap3 .circle .fill{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap2 .circle .mask,
.circle-wrap3 .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill,
.circle-wrap2 .circle .mask .fill,
.circle-wrap3 .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #348f6c;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
    animation: fill ease-in-out 1s;
}

.circle-wrap2 .circle .mask.full,
.circle-wrap2 .circle .fill {
    animation: fill ease-in-out 1s;
}

.circle-wrap3 .circle .mask.full,
.circle-wrap3 .circle .fill {
    animation: fill ease-in-out 1s;
}

.circle-wrap .inside-circle,
.circle-wrap2 .inside-circle2,
.circle-wrap3 .inside-circle3{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
    color: #348f6c;
}

.dt__absent-users {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px;
    height: 250px;
    overflow-y: auto;
}

.dt__table td, .dt__table th {
    padding: 5px;
    border: none;
    text-align: center;
}

.dt__absent-user:nth-child(odd) {
    background-color: lightgray;
}

.dt__delete{
    background-color: indianred;
}

.dt__delete:hover{
    background-color: #cc4646;
}

.dt__year {
    display: flex;
    flex-direction: column;
}

.dt__year h2 {
    margin-top: 20px;
}